.navbar-default {
    background-color: #FFFFFF;
    border-color: white;
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar-bottom {
    box-shadow: rgb(51, 51, 51) 0px 2px 10px;
    background-color: #006DAB;
    height:6px;
}

.content {
    margin: 10px;
    background-color: #F2F1F1;
}

.navbar-default .navbar-nav > .dropdown > a {
    color: white;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    color: white;
}

.navbar-default .navbar-nav > .dropdown > a:hover {
    color: grey;
}

.navbar-default .navbar-nav > .dropdown > a .caret:hover {
    color: grey;
}

.navbar-brand {
    margin-left: 10px;
}

.controls {
    margin-bottom: 20px;
}

.page-header {
    margin-top: 60px;
}

.tile ul {
    list-style: none;
}

.tile .appname {
    color: #fff;
    font-style: Helvetica;
    font-size: 1.0em;
    position: absolute;
    float: bottom;
    bottom: 0;
    left: 4px;
    right: 4px;
    z-index: 10;
}

.tile img {
    display: block;
    height: auto;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    max-width: 100%;
    margin: 0 auto
}

.tile .img-responsive {
    max-width: 82%;
    float: top;
}

.tile:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

.tile:hover appdesc {
    opacity: 1;
}

.tile appdesc {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: table;
    height: 100%;
    width: 100% float: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms;
    z-index: 100;
    padding-left: 5px;
    padding-top: 5px;
}

.tile appdesc p {
    display: table-cell;
    font-size: 1.0em;
    position: relative;
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
    display: inline-block;
}

.header {
    width: 100%;
    background-color: #white;
}

.newsfeed {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.profile {
    padding: 30px 0px 0px 0px;
    position: absolute;
    clear: both;
    float: left;
    z-index: 100;
    margin-left: 0px;
    background-color: white;
    box-shadow: -3px 3px 8px #818181;
    -webkit-box-shadow: -3px 3px 8px #818181;
    -moz-box-shadow: -3px 3px 8px #818181;
}

@media (min-width: 768px) {
    .profile {
        padding: 30px 0px 0px 0px;
        position: absolute;
        clear: both;
        float: right;
        z-index: 100;
        margin-left: -280px;
        background-color: white;
        box-shadow: -3px 3px 8px #818181;
        -webkit-box-shadow: -3px 3px 8px #818181;
        -moz-box-shadow: -3px 3px 8px #818181;
    }
}

.profile .photo {
    float: left;
    padding: 2px;
    padding-left: 20px;
}

.profile .detail {
    float: left;
    padding: 2px;
}

.profile .menu {
    width: 350px;
    float: left;
    position: relative;
    clear: both;
    border: 0px;
    border-color: red;
    z-index: 101;
    list-style: none;
    padding-left: 0px;
}

.menu .divider {
    height: 2px;
    border-bottom: 2px solid #f2f2f2;
}

.menu .item {
    height: 40px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    border-bottom: 1px solid #f2f2f2;
}

.menu .item p {
    padding-left: 20px;
    font: 19px;
}

.menu .item:hover {
    width: 100%;
    background-color: #D3D3D3;
    cursor: pointer;
}

.boxtext a {
    color: white;
}

html {
    background-color: #F2F1F1;
}

body {
    background-color: #F2F1F1;
}

.canopy-btn {
    color: white;
    float: left;
    margin-left: 6%;
    margin-top: 12px;
    background-color: #006DAB;
    width: 60px;
    text-align: center;
    cursor: pointer;
}

.canopy-btn:hover {
    opacity: 50%;
    background-color: white;
    color: #006DAB;
    border: 1px solid #006DAB;
}

