.ticker {
  width: 100%;
  padding: 1em 1em;
  height: 40px;
  overflow: hidden;
  position: relative;
  float: left;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 4px;
  padding: 3px;
  -webkit-user-select: none
}
.ticker .viewport {
  position: absolute;
  height: 50px;
  border-width: 1px 0;

  white-space: nowrap;
}
.ticker .viewport.moving {
  -webkit-animation: moveLeft 1 1s linear;
          animation: moveLeft 1 1s linear;
}
.ticker .viewport {
  display: inline-block;
  width: 100%;
  height: 100px;

  margin: 0 5px;
  text-align: left;
}

#date_box .ticker_span {

  background:none;
   background-image:none; 
   background-color: none; 
   box-shadow: 0px 0px 0px 0px;
   margin-left:6%;
}

.ticker .boxtick {
  display: inline-block;
  width: 100%;
  height: 100px;
  margin: 15 5px;
  text-align: left;
}

.ticker span {
  float: left;
  color: #fff;
  padding: 6px;
  position: relative;
  padding-right: 4px;
  top: 1%;
  border-radius: 4px;
  box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4);
    font: 16px 'Source Sans Pro', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  cursor: pointer
}

.ticker .boxtext
{
  color: #fff;
  padding: 6px;
  top: 0;
  cursor: pointer;
  width:80%;
  float:left;
  position: relative;
}

.ticker ul {
  float: left;
  padding-left: 20px;
  animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -webkit-user-select: none
}

.ticker ul li {line-height: 30px; list-style: none }

.ticker ul li a {
  color: #fff;
  text-decoration: none;
  font: 14px Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none
}

.ticker ul:hover { animation-play-state: paused }
.ticker span:hover+ul { animation-play-state: paused }

@-webkit-keyframes moveLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-110px);
            transform: translateX(-110px);
  }
}
@keyframes moveLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-110px);
            transform: translateX(-110px);
  }
}

.ticker a:link {
  color:#fff;
}

/* OTHER COLORS */
.blue { background: #66A3C7 }
.blue_gradient { background: linear-gradient(to bottom,#1279ac 0%,#00679a 100%); }
.blue span { background: #2c66be }
.red { background: #d23435 }
.red span { background: #c22b2c }
.green { background: #699B67 }
.green span { background: #547d52 }
.magenta { background: #b63ace }
.magenta span { background: #842696 }