#tiles_box{margin-top:-40px;}

.tile {
    height: 120px;
    width: 120px;
    overflow: hidden;
    display: inline-block;
    color: white;
    margin: 10px;
    font-weight: bold;
    border: solid white 2px;
    border-radius: 7px;
    box-shadow: 3px 3px 16px grey;
}

.tile:hover {
    background-color: #003854 !important;
}

.tileList {
    height: 420px;
    width: 570px;
    margin: auto;
}

@media (max-width:1110px){
    .tileList {
        width: 575px;
    } 
}

@media (max-width:845px){
    .tileList {
        width: 410px;
    } 
}

@media (max-width:380px){
    .tileList {
        width: 200px;
        height: 1000px;

    } 
}


#tileTitle {
    color:#006DAB;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}